<div class="show-post">
<p>Hello, I am Kevin Hoffman, and here is my story.</p>
	
</br>

<p> I went to the <%= link_to "University of Illinois", "http://illinois.edu/", :target => "_blank" %> and majored in <%= link_to "General Engineering", "http://ise.illinois.edu/ugrad/courses/whatisge.pdf", :target => "_blank" %>.  The program provided me with a solid foundation in mechanical engineering and industrial engineering.  After college I worked as a mechanical engineer at <%= link_to "Colony Display", "http://www.colonydisplay.com", :target => "_blank" %>, designing <%= link_to "retail fixtures", "/retail-displays" %> for various national chain big box stores.</p>
</br>	
<p>In January 2012, I joined <%= link_to "Code Academy", "http://www.codeacademy.org", :target => "_blank" %> to learn Ruby on Rails.  In just a few short months I got to the point where I could easily develop some basic web applications.  I love to learn, so I am continuing to improve my development skills.</p>

<p>I also have a passion for entrepreneurship.  I love thinking through business models, testing them, and developing minimally viable products. I am currently interested in full-time, part-time, or contract work as a rails developer.  If you have any opportunities, please contact me for a resume and please take a look at my <%= link_to "github", "http://www.github.com/khoffma4", :target => "_blank" %>.</p>

</div>