<% @posts.each do |post| %>
<div class ="post-condensed">
    <h2><%= link_to post.title, post %></h2>
	<p class="date"><%= post.created_at.strftime("written on %B %d, %Y") %>
	</p>	
	<div class="clear"></div>
    <p class="post-overview">
		<%= post.overview %> ... <%= link_to "Read More", post %>
	</p>

</div>
<% end %>

<br />

<% if session[:user_id] %>
<%= link_to 'New Post', new_post_path %>
<% end %>